In [453]:
import sqlite3

## 1 Connecting to database

In [454]:
# Setup a connection to temporaty database that will not be saved in directory
conn = sqlite3.connect(':memory:')

In [455]:
# Setup a connection to a database, and create it if it does not exist
conn = sqlite3.connect('customers_info.db')

## 2 Creating a table
The power of the database is not the database itself but the table. The table holds the data. Think of a table like an excel sheet, with rows and collums.

In [456]:
# Create cursor
c = conn.cursor()

A cursor tells the database what you want to do with it. When you want to change anything about the data, you will use the cursor to do it.

In [457]:
# Create a table
c.execute("""CREATE TABLE customers (first_name DATATYPE,
                                     last_name DATATYPE,
                                     email DATATYPE)
          """)

Datatype is a type of data like strings, booleans, lists, arrays, dictonary.

SQLite has only 5 datatypes:
- `null`
- `integer`
- `real`
- `text`
- `blob` (something is stored exacly as it is, used for example figures, sound. It is just stored as a blob)

In [458]:
c.execute("DROP TABLE customers")
c.execute("""CREATE TABLE customers (first_name TEXT,
                                     last_name TEXT,
                                     email TEXT)
          """)

We have to comit this to the database, by comminting our connection, for the above to be executed.

In [459]:
# Commit our command above
conn.commit()

Now, lets put some data in to our table.

In [460]:
# Put a first name, last name and email in to our table
c.execute("INSERT INTO customers VALUES ('John', 'Elder', 'jon@codemy.com')")

# Again commit it to execute it
conn.commit()

In [461]:
c.execute("INSERT INTO customers VALUES ('Tim', 'Smith', 'tim@codemy.com')")
c.execute("INSERT INTO customers VALUES ('Mary', 'Brown', 'mary@codemy.com')")
conn.commit()

Now, we don't have to insert every bit of data one-by-one. Let's speed this up.

In [462]:
many_customers = [('Wes', 'Brown', 'wes@brown.com'), 
                  ('Steph', 'Kuewa', 'steph@keuwa.com'), 
                  ('Dan', 'Pas', 'dan@pas.com'),
                  ('Lauren', 'Wilson', 'Lauren@wilson.com'),
                  ('Hailey', 'Jones', 'hailey@jones.com'),
                  ('Taylor', 'Miler', 'taylos@miler.com')]

# execute many data enteries into our table customers, with (?,?,?) as a placeholder
c.executemany("INSERT INTO customers VALUES (?,?,?)", many_customers)

conn.commit()

Let's have a look at what we put in to our table.

In [463]:
# First select the data from our table
c.execute("SELECT * FROM customers")

c.fetchone()

('John', 'Elder', 'jon@codemy.com')

In [464]:
# Find just the email from just one row
c.fetchone()[2]

'tim@codemy.com'

In [465]:
c.fetchmany(3)

[('Mary', 'Brown', 'mary@codemy.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@keuwa.com')]

In [466]:
c.execute("SELECT * FROM customers")

c.fetchall()

[('John', 'Elder', 'jon@codemy.com'),
 ('Tim', 'Smith', 'tim@codemy.com'),
 ('Mary', 'Brown', 'mary@codemy.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@keuwa.com'),
 ('Dan', 'Pas', 'dan@pas.com'),
 ('Lauren', 'Wilson', 'Lauren@wilson.com'),
 ('Hailey', 'Jones', 'hailey@jones.com'),
 ('Taylor', 'Miler', 'taylos@miler.com')]

This is just a list with tuples. So we can do the following:

In [467]:
c.execute("SELECT * FROM customers")

c.fetchall()[:5]

[('John', 'Elder', 'jon@codemy.com'),
 ('Tim', 'Smith', 'tim@codemy.com'),
 ('Mary', 'Brown', 'mary@codemy.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'steph@keuwa.com')]

To get only first names, last names or email we can loop through the data

In [468]:
c.execute("SELECT * FROM customers")

for entry in c.fetchall():
    print(entry)

('John', 'Elder', 'jon@codemy.com')
('Tim', 'Smith', 'tim@codemy.com')
('Mary', 'Brown', 'mary@codemy.com')
('Wes', 'Brown', 'wes@brown.com')
('Steph', 'Kuewa', 'steph@keuwa.com')
('Dan', 'Pas', 'dan@pas.com')
('Lauren', 'Wilson', 'Lauren@wilson.com')
('Hailey', 'Jones', 'hailey@jones.com')
('Taylor', 'Miler', 'taylos@miler.com')

In [469]:
c.execute("SELECT * FROM customers")

for entry in c.fetchall():
    print(entry[0])

John
Tim
Mary
Wes
Steph
Dan
Lauren
Hailey
Taylor

We can also use this to make the retrieved data more readable.

In [470]:
c.execute("SELECT * FROM customers")

for entry in c.fetchall():
    print(entry[0] + "\t" + entry[1] + "\t" + entry[2])

John	Elder	jon@codemy.com
Tim	Smith	tim@codemy.com
Mary	Brown	mary@codemy.com
Wes	Brown	wes@brown.com
Steph	Kuewa	steph@keuwa.com
Dan	Pas	dan@pas.com
Lauren	Wilson	Lauren@wilson.com
Hailey	Jones	hailey@jones.com
Taylor	Miler	taylos@miler.com

### Primary Keys

A primary key is a unique ID number that each record of your database has.

One example of this is the rowid. SQLite creates this for you.

In [471]:
c.execute("SELECT rowid, * FROM customers")

for entry in c.fetchall():
    print(entry)

(1, 'John', 'Elder', 'jon@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brown', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(6, 'Dan', 'Pas', 'dan@pas.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(9, 'Taylor', 'Miler', 'taylos@miler.com')

## 3 Working with the database and records

### Pulling out specific things from the database

In [472]:
# Seclect all customers with last name Elder
c.execute("SELECT * FROM customers WHERE last_name = 'Elder'")

for entry in c.fetchall():
    print(entry)

('John', 'Elder', 'jon@codemy.com')

In [473]:
# Seclect all customers with last name starding with Br
c.execute("SELECT * FROM customers WHERE last_name LIKE 'Br%'")

for entry in c.fetchall():
    print(entry)

('Mary', 'Brown', 'mary@codemy.com')
('Wes', 'Brown', 'wes@brown.com')

In [474]:
# Seclect all customers with email ending on codemy.com
c.execute("SELECT * FROM customers WHERE email LIKE '%codemy.com'")

for entry in c.fetchall():
    print(entry)

('John', 'Elder', 'jon@codemy.com')
('Tim', 'Smith', 'tim@codemy.com')
('Mary', 'Brown', 'mary@codemy.com')

### Updating Records
Using `WHERE` and the `rowid`.

In [475]:
# Changing the John to Bob using his last name
c.execute("UPDATE customers SET first_name = 'Bob' WHERE last_name = 'Elder'")

conn.commit()

c.execute("SELECT rowid, * FROM customers")

for entry in c.fetchall():
    print(entry)

(1, 'Bob', 'Elder', 'jon@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brown', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(6, 'Dan', 'Pas', 'dan@pas.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(9, 'Taylor', 'Miler', 'taylos@miler.com')

In [476]:
# Changing the John to Bob using the rowid
c.execute("UPDATE customers SET first_name = 'John' WHERE rowid = 1")

conn.commit()

c.execute("SELECT rowid, * FROM customers")

for entry in c.fetchall():
    print(entry)

(1, 'John', 'Elder', 'jon@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brown', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(6, 'Dan', 'Pas', 'dan@pas.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(9, 'Taylor', 'Miler', 'taylos@miler.com')

In [477]:
# Changing the name of both Browns to Marty
c.execute("UPDATE customers SET first_name = 'Marty' WHERE last_name = 'Brown'")

conn.commit()

c.execute("SELECT rowid, * FROM customers")

for entry in c.fetchall():
    print(entry)

(1, 'John', 'Elder', 'jon@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Marty', 'Brown', 'mary@codemy.com')
(4, 'Marty', 'Brown', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(6, 'Dan', 'Pas', 'dan@pas.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(9, 'Taylor', 'Miler', 'taylos@miler.com')

In [478]:
# Changing the first names for both Browns back
c.execute("UPDATE customers SET first_name = 'Mary' WHERE rowid = 3")
c.execute("UPDATE customers SET first_name = 'Wes' WHERE rowid = 4")

conn.commit()

c.execute("SELECT rowid, * FROM customers")

for entry in c.fetchall():
    print(entry)

(1, 'John', 'Elder', 'jon@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brown', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(6, 'Dan', 'Pas', 'dan@pas.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(9, 'Taylor', 'Miler', 'taylos@miler.com')

### Deleting a record

In [479]:
# Delete record with rowid 6, Dan Pas
c.execute("DELETE from customers WHERE rowid = 6")

conn.commit()

c.execute("SELECT rowid, * FROM customers")

for entry in c.fetchall():
    print(entry)

(1, 'John', 'Elder', 'jon@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brown', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(9, 'Taylor', 'Miler', 'taylos@miler.com')

### Ordering Results 

Results are by default ordered by the rowid (ascending)

In [480]:
# Order customers by rowid, descending
c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC")

for entry in c.fetchall():
    print(entry)

(9, 'Taylor', 'Miler', 'taylos@miler.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(4, 'Wes', 'Brown', 'wes@brown.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(1, 'John', 'Elder', 'jon@codemy.com')

In [481]:
# Order customers by last_name alphabeticly
c.execute("SELECT rowid, * FROM customers ORDER BY last_name")

for entry in c.fetchall():
    print(entry)

(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brown', 'wes@brown.com')
(1, 'John', 'Elder', 'jon@codemy.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(9, 'Taylor', 'Miler', 'taylos@miler.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')

### Using `and` & `or`

In [482]:
# Seclect all customers with last name starding with Br with rowid 3
c.execute("SELECT * FROM customers WHERE last_name LIKE 'Br%' AND rowid = 3")

for entry in c.fetchall():
    print(entry)

('Mary', 'Brown', 'mary@codemy.com')

### Limiting results

In [483]:
# Select only the first 2 records
c.execute("SELECT rowid, * FROM customers LIMIT 2")

for entry in c.fetchall():
    print(entry)

(1, 'John', 'Elder', 'jon@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')

### Deleting a table

In [484]:
# Deleting/Dropping the table
c.execute("DROP TABLE customers")

c.execute("SELECT rowid, * FROM customers")
for entry in c.fetchall():
    print(entry)

OperationalError: no such table: customers

In [485]:
# Recreate the table
c.execute("""CREATE TABLE customers (first_name TEXT,
                                     last_name TEXT,
                                     email TEXT)
          """)

# Creating data
many_customers = [('John', 'Elder', 'jon@codemy.com'),
                  ('Tim', 'Smith', 'tim@codemy.com'),
                  ('Mary', 'Brown', 'mary@codemy.com'),
                  ('Wes', 'Brow', 'wes@brown.com'), 
                  ('Steph', 'Kuewa', 'steph@keuwa.com'), 
                  ('Dan', 'Pas', 'dan@pas.com'),
                  ('Lauren', 'Wilson', 'Lauren@wilson.com'),
                  ('Hailey', 'Jones', 'hailey@jones.com'),
                  ('Taylor', 'Miler', 'taylos@miler.com')]

c.executemany("INSERT INTO customers VALUES (?,?,?)", many_customers)
conn.commit()

c.execute("SELECT rowid, * FROM customers")
for entry in c.fetchall():
    print(entry)

(1, 'John', 'Elder', 'jon@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brow', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(6, 'Dan', 'Pas', 'dan@pas.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(9, 'Taylor', 'Miler', 'taylos@miler.com')

And last but not least...

In [486]:
# Close our connection
conn.close()

## 4 Making use of functions

In [487]:
# Show all records
def show_all():
    
    # Connecting to the database and creating a cursor
    conn = sqlite3.connect('customers_info.db')
    c = conn.cursor()
    
    # Selecting and printing all records
    c.execute("SELECT rowid, * FROM customers")
    for entry in c.fetchall():
        print(entry)

    # Closing the connection
    conn.close()

In [488]:
show_all()

(1, 'John', 'Elder', 'jon@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brow', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(6, 'Dan', 'Pas', 'dan@pas.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(9, 'Taylor', 'Miler', 'taylos@miler.com')

In [489]:
# Add a new record to the database
def add_one(first, last, email):

    # Connecting to the database and creating a cursor
    conn = sqlite3.connect('customers_info.db', timeout=10)
    c = conn.cursor()
    
    # Adding the new record
    c.execute("INSERT INTO customers VALUES (?,?,?)", (first, last, email))
    conn.commit()

    # Closing the connection
    conn.close()

In [490]:
add_one('Charly', 'Smith', 'charly@smith.com')

show_all()

(1, 'John', 'Elder', 'jon@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brow', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(6, 'Dan', 'Pas', 'dan@pas.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(9, 'Taylor', 'Miler', 'taylos@miler.com')
(10, 'Charly', 'Smith', 'charly@smith.com')

In [491]:
# Delete a record based on rowid
def delete_one(id):

    # Connecting to the database and creating a cursor
    conn = sqlite3.connect('customers_info.db')
    c = conn.cursor()
    
    # Adding the new record
    c.execute("DELETE from customers WHERE rowid = (?)", id)
    conn.commit()

    # Closing the connection
    conn.close()

In [492]:
delete_one("6")

show_all()

(1, 'John', 'Elder', 'jon@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brow', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(9, 'Taylor', 'Miler', 'taylos@miler.com')
(10, 'Charly', 'Smith', 'charly@smith.com')

In [493]:
# Add many new records to the database
def add_one(list):

    # Connecting to the database and creating a cursor
    conn = sqlite3.connect('customers_info.db', timeout=10) # time out to prevend the locking of the database
    c = conn.cursor()
    
    # Adding the new record
    c.executemany("INSERT INTO customers VALUES (?,?,?)", list)
    conn.commit()

    # Closing the connection
    conn.close()

In [494]:
add_one(many_customers)

show_all()

(1, 'John', 'Elder', 'jon@codemy.com')
(2, 'Tim', 'Smith', 'tim@codemy.com')
(3, 'Mary', 'Brown', 'mary@codemy.com')
(4, 'Wes', 'Brow', 'wes@brown.com')
(5, 'Steph', 'Kuewa', 'steph@keuwa.com')
(7, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(8, 'Hailey', 'Jones', 'hailey@jones.com')
(9, 'Taylor', 'Miler', 'taylos@miler.com')
(10, 'Charly', 'Smith', 'charly@smith.com')
(11, 'John', 'Elder', 'jon@codemy.com')
(12, 'Tim', 'Smith', 'tim@codemy.com')
(13, 'Mary', 'Brown', 'mary@codemy.com')
(14, 'Wes', 'Brow', 'wes@brown.com')
(15, 'Steph', 'Kuewa', 'steph@keuwa.com')
(16, 'Dan', 'Pas', 'dan@pas.com')
(17, 'Lauren', 'Wilson', 'Lauren@wilson.com')
(18, 'Hailey', 'Jones', 'hailey@jones.com')
(19, 'Taylor', 'Miler', 'taylos@miler.com')

In [502]:
# Add many new records to the database
def email_lookup(email):

    # Connecting to the database and creating a cursor
    conn = sqlite3.connect('customers_info.db', timeout=10)
    c = conn.cursor()
    
    # Selecting and printing all records
    c.execute("SELECT * FROM customers WHERE email = (?)", (email,))
    for entry in c.fetchall():
        print(entry)

    # Closing the connection
    conn.close()

In [504]:
email_lookup("jon@codemy.com")

('John', 'Elder', 'jon@codemy.com')
('John', 'Elder', 'jon@codemy.com')